<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Purgo-index</title>


    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


    <link href="{{ url_for('static', filename='css/purgobio.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">


    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <img class="sidebar-barnd-img" src="{{ url_for('static', filename='img/purgologo.svg') }}" alt="...">

            </a>


            <hr class="sidebar-divider my-0">


            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>


            <hr class="sidebar-divider">



            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>마스터 등록</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Components:</h6>
                        <a class="collapse-item" href="master-school.html">학교마스터</a>
                        <a class="collapse-item" href="master-major.html">전공마스터</a>
                        <a class="collapse-item" href="master-grade.html">등급마스터</a>
                        <a class="collapse-item" href="master-competition.html">경쟁업체마스터</a>
                        <a class="collapse-item" href="master-product.html">제품마스터</a>
                        <a class="collapse-item" href="master-information.html">직원정보</a>

                    </div>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="hospital-information.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>병원정보</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="progress-registration.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>진행사항 등록</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="progress-confirmation.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>진행사항 확인</span></a>
            </li>


            <hr class="sidebar-divider d-none d-md-block">


            <li class="nav-item">
                <a class="nav-link" href="manager-function.html">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>관리자 기능</span></a>
            </li>


            <hr class="sidebar-divider d-none d-md-block">


            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>


                    <ul class="navbar-nav ml-auto">


                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            {% if g.user %}
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">안녕하세요, {{ g.user[1] }}님</span>
                                <img class="img-profile rounded-circle" src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>
                                    Logout
                                </a>
                            </div>
                            {% else %}
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('login') }}">
                                        <button class="btn btn-primary btn-user btn-block">Login</button>
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                        </li>

                    </ul>

                </nav>

                <div class="card shadow mb-4" style="margin: 10px;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">등급별 병원 수 Counting View</h6>
                    </div>
                    <div class="card-body">
                        {% for grade, data in hospital.items() %}
                            <h4 class="small font-weight-bold" style="margin-bottom: 10px;">{{ grade }} <span class="float-right">{{ data['count'] }}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar {% if grade == 'Act' %}bg-danger{% elif grade == 'Bestcase' %}bg-warning{% elif grade == 'Opportunity' %}bg-info{% elif grade == 'Pipeline' %}bg-info{% elif grade == 'Funnel' %}bg-success{% endif %}" role="progressbar" style="width: {{ data['count'] }}%" aria-valuenow="{{ data['count'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-6 mb-4">
            </div>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">현재 세션을 종료할 준비가 되셨다면 아래의 "로그아웃"을 선택하십시오.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" >Cancel</button>
                    <a class="btn btn-primary" href="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/purgobio.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <script>
    var gradeData = [
        { grade: 'Act', count: 20 },
        { grade: 'Bestcase', count: 40 },
        { grade: 'Opportunity', count: 60 },
        { grade: 'Pipeline', count: 80 },
        { grade: 'Funnel', count: 100 }
    ];

    // DOM 업데이트 함수
    function updateDashboard() {
        // 등급별 데이터를 반복하면서 DOM 업데이트
        gradeData.forEach(function(data) {
            var progressBar = document.querySelector(`.progress-bar.${data.grade}`);
            var progressText = document.querySelector(`.small.${data.grade} span`);

            // 등급에 해당하는 프로그레스바와 텍스트 업데이트
            progressBar.style.width = `${data.count}%`;
            progressText.textContent = `${data.count}%`;
        });
    }

    // 초기 로드시 업데이트
    updateDashboard();
</script>
</body>

</html>
